
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Georgia, serif;
  background: black;
  color: #42AF4E;
}

a {
  color: inherit;
  text-decoration: underline;
}

p {
  margin: 0;
  font-family: Georgia, serif;

}
