.MenuItem {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 10px 0px 20px;
  grid-gap: 5px;
  align-items: center;
}

.MenuItemNoImage {
  grid-template-columns: 1fr;
  margin: 10px 0px 20px;
}

.menuItemImage {
  object-fit: cover;
}

.textContainer {
  text-align: center;
}

.textContainer h2 {
  margin-bottom: 10px;
}
